In [1]:
DF_PATH       = "../data/processed/2_descanalystics_df.pkl"
FEATURES_PATH = "../data/processed/features_skills_clusters.pkl"

ROLE_COLS      = ['DevType']
# TECH_COLS      = ['LanguageHaveWorkedWith',
#                   'DatabaseHaveWorkedWith',
#                   'PlatformHaveWorkedWith',
#                   'WebframeHaveWorkedWith',
#                   'MiscTechHaveWorkedWith',
#                   'ToolsTechHaveWorkedWith',
#                   'NEWCollabToolsHaveWorkedWith']
TECH_COL = ['LanguageHaveWorkedWith', 
            'DatabaseHaveWorkedWith', 
            'MiscTechHaveWorkedWith', 
            'ToolsTechHaveWorkedWith']
OTHER_COL = ['PlatformHaveWorkedWith',
             'WebframeHaveWorkedWith', 
             'EmbeddedHaveWorkedWith',
             'NEWCollabToolsHaveWorkedWith']


EXPORT_PATH    = "../data/processed/2_cleaned_data.pkl"

In [2]:
import pandas as pd
import numpy as np
import pickle

import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer

In [5]:
#Read the data
preprocesed_df = pd.read_pickle(DF_PATH)
preprocesed_df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat,AgeGroup
1,2,I am a developer by profession,40.0,"[Employed, full-time]",Remote,Apples,"[Hobby, Contribute to open-source projects, Ot...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Books / Physical media, Colleague, On the job...","[Technical documentation, Blogs, Books, Writte...",...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,30-40
2,3,I am a developer by profession,50.0,"[Employed, full-time]",Remote,Apples,"[Hobby, Contribute to open-source projects, Ot...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Books / Physical media, Colleague, On the job...","[Technical documentation, Blogs, Books, Writte...",...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN,40-50
6,7,"I am not primarily a developer, but I write co...",40.0,"[Employed, full-time]",Remote,Apples,[I don’t code outside of work],"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","[Other online resources (e.g., videos, blogs, ...","[Technical documentation, Stack Overflow, Writ...",...,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN,30-40
9,10,I am a developer by profession,40.0,"[Independent contractor, freelancer, or self-e...",Remote,Apples,[Bootstrapping a business],"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[On the job training, Other online resources (...","[Technical documentation, Blogs, Written Tutor...",...,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN,30-40
11,12,I am a developer by profession,50.0,"[Employed, full-time]",In-person,Apples,"[Hobby, School or academic work]","Professional degree (JD, MD, Ph.D, Ed.D, etc.)","[Books / Physical media, School (i.e., Univers...",[],...,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN,40-50

In [7]:
features_df = pd.read_pickle(FEATURES_PATH)
features_df.head()

,skills_group_0,skills_group_1,skills_group_10,skills_group_11,skills_group_12,skills_group_13,skills_group_14,skills_group_15,skills_group_16,skills_group_17,skills_group_18,skills_group_19,skills_group_2,skills_group_3,skills_group_4,skills_group_5,skills_group_6,skills_group_7,skills_group_8,skills_group_9
1,1,0,0,0,0,0,0,0,4,0,0,0,7,0,0,2,0,0,2,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,5,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,2,0,0,0,6,0,0,0,0,0,0,0
11,1,0,2,4,0,0,0,2,3,0,0,0,6,0,0,0,6,0,0,0

In [ ]:
encoded_dfs = {}
for col in TECH_COL:
    # Fill NaN values with empty list
    preprocesed_df[col] = preprocesed_df[col].fillna('[]')
    binarizer = MultiLabelBinarizer()
    encoded_df = pd.DataFrame(binarizer.fit_transform(preprocesed_df[col]),
                            columns=binarizer.classes_,
                            index=preprocesed_df[col].index)
    encoded_dfs[col] = encoded_df

In [16]:
df_dev = pd.get_dummies(preprocesed_df['DevType']).astype('int')

In [18]:
# Create MultiIndex columns for df_dev with ROLE_COL category
df_dev.columns = pd.MultiIndex.from_product([ROLE_COLS, df_dev.columns])

# Concatenate df_dev with df horizontally
df_mod = pd.concat([encoded_dfs, df_dev], axis=1)

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid